@import "../../styles/base.scss";

.ModalIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background: none;
    border: none;
    cursor: pointer;
    @extend .transitionEasyInOut;

   
}
.InsideModalIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackBackground;
    font-size: 3em;
    text-align: center;
    padding: 4%;
    svg {
        margin-right: 5%;
    }
    h2 {
        color: white;
    }
}
.ModalBackground {
    background-color: $blackBackground;
    color: white;
    button {
        background-color: white;
        color: $blackBackground;
        font-weight: bold;
    }
}