@import "../../styles/base.scss";

.avatarImg {
    width: 19vw;
    height: 19vw;
    background-image: url("../../../public/4cada0cd-d281-4d41-b227-df23502efa9c.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 2%;
  }
  

  
  .presentation {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: $Zindex;
    font-weight: bold;
    text-align: center;
    h1 {
      color: greenyellow
    }
    h2 {
      font-size: 1.5em;
    }
  }


.SocialLinks {
    margin: 7% 0%;
  
    svg {
      font-size: 2em;
      cursor: pointer;
      margin: 2%;
      outline: none;
      color: greenyellow;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media (max-width: 600px) {
    .avatarImg {
      width: 35vw;
      height: 35vw;
    }

    .presentation {
      p {
        padding: 5%
      }
    }
  }
  
