@import "../../styles/base.scss";

  
  .presentation {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: $Zindex;
    font-weight: bold;
    text-align: center;

    h1 {
      color: greenyellow;
    }

    h2 {
      font-size: 1.5em;
    }

    h5{
      margin-bottom: 5%;
    }

    p, h5, h1 { 
      animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }


.SocialLinks {
    margin: 7% 0%;
  
    svg {
      font-size: 2em;
      cursor: pointer;
      margin: 2%;
      outline: none;
      color: greenyellow;
      transition: 50ms;
      &:hover {
        transform: scale(1.2);
        opacity: 0.8;
      }
      animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
  }

  @media (max-width: 600px) {

    .presentation {
      p {
        padding: 5%
      }
    }
  }
  

