@import "../../styles/base.scss";

.projectBox {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding: 3.2%;
    flex-wrap: wrap;
}

// images project

.baseProjectImg {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: 100%;
    z-index: $Zindex;
}

.imgConvicta {
    @extend .baseProjectImg;
    background-image: url("/images/projects/convictaprev.png");
}

.imgProjectJobel {
    @extend .baseProjectImg;
    background-image: url("/images/projects/jobel1.png");
}

.imgFernandev2 {
    @extend .baseProjectImg;
    background-image: url("/images/projects/fernandev2.png");
}

.imgSecretWord {
    @extend .baseProjectImg;
    background-image: url("/images/projects/Secret Word - online game.png");
}

.imgDtAnalyse {
    @extend .baseProjectImg;
    background-image: url("/images/projects/data_analise.png");
}

.imgSolutions {
    @extend .baseProjectImg;
    background-image: url("/images/projects/solutions.png");
}
