@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Cormorant SC', serif;
  box-sizing: border-box;
}

hr {
  margin: 2%;
  color: black;
}

.m-2 {
  margin: 0.7rem;
}

.Title {
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
  color: black;
}

.bold {
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
}


