.Curriculum {
    width: 100%;
    min-height: 100vh;
    padding: 2% 15% 0 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4.5%;
}

.textE {
    width: 50%;
    text-align: left;
    border: none;
    padding: 2%;
    border-radius: 25px;
    background-color: rgb(245, 241, 241);

}

.FotoPerfil {
    width: 20%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



@media (max-width: 600px) {
    .textE {
        width: 90%;
    }

    .FotoPerfil {
        width: 80%;
    }
  
  }