.NavBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 30%;
    height: 100vh;

}

@media only screen and (min-width: 600px) {
    .MobileButtonMenu {
        display: none !important;
    }
}

@media (max-width: 600px) {

    .NavBox {
        height: 100%;
        width: 100%;
    }

    .MobileButtonMenu {
        display: block;
        width: 100%;
    }

    .hiddenMenu {
        display: none;
    }
}