.NavBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    
}

.MobileButtonMenu {
    display: none;
}

@media (max-width: 600px) {

    .NavBox {
        height: 100%;
        width: 100%;
    }

    .MobileButtonMenu {
        display: block;
        width: 100%;
    }

    .hiddenMenu {
        display: none;
    }
}
