.NavBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 30%;
    height: 100vh;

}

@media only screen and (min-width: 600px) {
    .MobileButtonMenu {
        display: none !important;
    }
}

@media (max-width: 600px) {

    .NavBox {
        height: 100%;
        width: 100%;
    }

    .MobileButtonMenu {
        display: block;
        min-width: 100%;
        padding: 2%;
        font-size: 0.8rem;
        color: white;
        border: none;
        font-weight: bold;
        background-color: rgb(22,102,192);
    }

    .hiddenMenu {
        display: none;
    }
}