@import "./base.scss";
// @import "../components/ui/Buttons/index.module.scss";

* {
  box-sizing: border-box;
  font-family: $Cormorant;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $blackBackground;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grayDefault;
    border-radius: 20px;
    border: 2px solid $blackBackground;
  }
}

a {
  width: 100%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

hr {
  margin: 2%;
  color: black;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.languages-icon {
  font-size: 4em;
  margin: 3%;
}

.page-height-full {
  margin-bottom: 10%;
}

.page-height-semi-full {
  height: 90vh;
}

.Container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 8em;
}

@media (max-width: 800px) {
  .Container {
    padding: 0 0.4em;
  }

  .page-height-full {
    margin-bottom: 30%;
  }

  table {
    font-size: 0.8em;
  }
}

table {
  margin-top: 7%;
  width: 85vw;
  color: white;
  text-align: center;

  td,
  th {
    border-top: 1px solid #fafafa;
    user-select: none;
    border-bottom: 1px solid #fafafa;
    padding: 2%;
  }
}
