@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
// fonts:
$Cormorant: Cormorant, sans-serif;

// colors:
$blackBackground: rgb(24, 24, 24);
$grayDefault: #706d6d;