@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BoxContent {
  width: 100%;
  min-width: 80vw;
  min-height: 80vh;
  text-align: center;
}

.Content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ArticleBox {
  display: flex;
  align-items: center;
  text-align: start;
  flex-direction: column;
  width: 85%;
  color: white;
  padding-bottom: 20%;
  margin: 2%;
}

.ArticleBox img {
  max-width: 95%;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    padding: 0;
  }
  .ArticleBox {
    width: 100%;
    padding-bottom: 65%;
  }
}
