@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');


.Header {
    font-family:  'Cormorant SC', serif;
    width: 100%;
    padding: 2%;
    text-align: center;
}

.Title {
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    color: black;
    margin: 0.7rem;
  }