@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

* {
    font-family:  'Cormorant SC', serif;
}

.Header {
    width: 100%;
    padding: 2%;
    text-align: center;
}