.footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .SocialIcons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .SocialIcons > a {
    font-size: 0.75rem;
    margin: 4%;
  }

  