.footer {
    display: flex;
    margin-top: 10%;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .SocialIcons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.75rem;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .SocialIcon {
    font-size: 1rem;
    width: 2.3vw;
    margin: 4%;
  }

  @media (max-width: 600px) {
    .SocialIcon {
      width: 3.5vw;
    }
  }
  