@import "../../styles/base.scss";

.navHome {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        color: greenyellow;
        text-transform: uppercase;
        margin: 7%;
        font-size: 2em;
        @extend .transitionEasyInOut
        
    }
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 15px;
    font-size: 2em;
    background-color: rgba(180, 180, 180, 0.3);
    border: none;
    color: #fafafa;
    padding: 1%;
    border-radius: 30%;
    @extend .transitionEasyInOut

}

