.Header {
  width: 100%;
  padding: 2%;
  text-align: center;
  background-color: rgb(112, 109, 109);
  box-shadow: black 0px 8px 34px;
  color: white;
}

.Title > a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 0.75rem;
  text-align: center
}

.Title > a:hover {
  color: greenyellow
}
