@import "../../styles/base.scss";

.skillSoft {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 1% 2%;
  border-radius: 4px;
  text-transform: uppercase;
  user-select: none;
  filter: blur(4%);
  opacity: 0.6;
  color: black
}
