@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding:  0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.BoxContent {
  max-width: 100vw;
  min-width: 80vw;
  min-height: 80vh;
  text-align: center;

}

.Content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ArticleBox {
  display: flex;
  align-items: center;
  text-align: start;
  flex-direction: column;
  width: 85%;
  padding:4%;
  margin: 2%;
  background-color: rgb(245, 241, 241);
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ArticleBox img {
  max-width: 95%;
}

@media (max-width: 600px) {
  .ArticleBox {
    width: 100%;
  }

}

