@import "../../../pages/base.scss";
.Header {
  width: 85vw;
  padding: 1%;
  z-index: 1;
  text-align: center;
  background-color: $grayDefault;
  position: fixed;
  box-shadow: black 0px 8px 34px;
  color: white;
}

.Title:hover {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .Header {
    width: 100%;
  }
}
