.Header {
  width: 85vw;
  padding: 2%;
  z-index: 1;
  text-align: center;
  background-color: #706d6d;
  position: fixed;
  box-shadow: black 0px 8px 34px;
  color: white;
}

.Title > a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 0.75rem;
  text-align: center;
}

.Title:hover {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .Header {
    width: 100%;
  }
}
