.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BoxContent {
  width: 100vw;
  min-height: 80vh;
  text-align: center;
  margin-top: 10%;
}

.Content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ArticleBox {
  display: flex;
  align-items: center;
  text-align: start;
  flex-direction: column;
  width: 85%;
  color: white;
  padding-bottom: 10%;
  margin: 2%;
}

.ArticleBox img {
  max-width: 95%;
}
@media (max-width: 1000px) {
  .BoxContent {
    margin-top: 18%;
  }
}
@media (max-width: 700px) {
  .main {
    width: 100%;
    padding: 0;
  }
  .ArticleBox {
    width: 100%;
    padding-bottom: 23%;
  }
  .BoxContent {
    margin-top: 24%;
  }
}
@media (max-width: 500px) {
  .BoxContent {
    margin-top: 30%;
  }
}
