@import "../../../pages/base.scss";
.Menu {
  display: flex;
  background-color: $grayDefault;
  box-shadow: black 0px 8px 34px;
  padding: 2%;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 84.5%;
  color: white;
}

@media (max-width: 700px) {
  .Menu {
    padding: 3%;
    width: 100%;
  }
}
