.Menu {
  display: flex;
  background-color: black;
  padding: 2%;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
.SocialIcon {
  color: white;
  cursor: pointer;
}
