.Menu {
  display: flex;
  background-color: black;
  padding: 0.5%;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  bottom: 5px;
  width: 70%;
  border-radius: 10px 10px 10px 10px;
}
.SocialIcon {
  color: white;
  cursor: pointer;
}
@media (max-width: 700px) {
  .Menu {
    width: 100%;
    border-radius: 0px;
    bottom: 0px;
    padding: 2%;
  }
}
